# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore Visual Studio Code settings folder
.vscode/

# Ignore JetBrains IDEs settings folder (PyCharm, IntelliJ)
.idea/

# Ignore Python cache files (in case you add Python scripts later)
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints (if you add .ipynb files later)
.ipynb_checkpoints/
